.menu {
    position: fixed;
    top: 0%;
    width: 100%;
}

.menu .sub {
    left: 80%;
    top: 1%;
}

h1, h3 {
    font-family: 'Abril Fatface', cursive;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    text-align: left;
}


.content {
    width: 90%;
    margin: 0 auto;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-size: 90%;
}