.menu {
    position: fixed;
    top: 0%;
    width: 100%;
    background-color: white;
    border-bottom: .1vh solid black;
}

.menu-wrapper {
    margin: 0% 0% -1% 0%;
    text-align: left;
    border-bottom: .1vh solid green;
}

h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 200%;
}

button {
    text-align: center;
    margin: 0% 5%;
    font-size: 50%;
    font-family: 'Abril Fatface', cursive;
    background-color: none;
    color: black;
    border: none;
}

button:hover {
    background-color: none;
    border-bottom: .1vh solid black;
}

a {
    text-decoration: none;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    border: 1px solid red;
    padding-bottom: 30%;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 90%;
}

.content {
    font-family: 'Raleway', sans-serif;
    font-size: 90%;
    background-color: rgb(231, 231, 231);
    margin: 8% 0% 0% 0%;
    border: 1px solid blue;
}

.img1 {
    margin-top: 1%;
    padding-right: 10%; 
    float: right;
}

